<h1 class="text-center">Employee details</h1>
<div class="container pt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img alt="Imagen de persona" class="img-fluid" [src]="imagen">
          <p class="subtitle">Age</p>
          <p class="data-text">{{age}}</p>
          <p class="subtitle">Name</p>
          <p class="data-text">{{ name }}</p>
          <p class="subtitle">Salary</p>
          <p class="data-text">{{ salary }}</p> 
          <p class="subtitle">ID</p>
          <p class="data-text">{{ id }}</p> 
        </div>
      </div>
    </div>
  </div>
</div>